<%= form_with(model: @wagon, url: train_wagons_path(@train.id), local: true) do |form| %>
  <% if @wagon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wagon.errors.count, "error") %> prohibited this railway_station from being saved:</h2>

      <ul>
        <% @wagon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Тип вагона'%>
    <div class="field_type">
      <%= form.label 'Электричка. Только сидячие места.'%>
      <%= form.radio_button "type", "SeatsCarriage" %>
    </div>
    <div class="field_type">
      <%= form.label 'Плацкард. Все, кроме идячих.'%>
      <%= form.radio_button "type", "EconomyCarriage" %>
    </div>
    <div class="field_type">
      <%= form.label 'Купе. Только верхние и нижние места.'%>
      <%= form.radio_button "type", "CoupeCarriage" %>
    </div>
    <div class="field_type">
      <%= form.label 'СВ. Только нижние места'%>
      <%= form.radio_button "type", "SvCarriage" %>
    </div>
    <%= form.label 'Седячие места (Электричка)'%>
    <%= form.text_field :seats %>
    <%= form.label 'Нижнте места'%>
    <%= form.text_field :bottom_seats %>
    <%= form.label 'Верхние места'%>
    <%= form.text_field :top_seats %>
    <%= form.label 'Нижие места сбоку (Эконом)'%>
    <%= form.text_field :side_bottom_seats %>
    <%= form.label 'Верхние места сбоку (Эконом)'%>
    <%= form.text_field :side_top_seats %>
  </div>


  <div class="actions">
    <%= form.submit  if @wagon.new_record? ? 'Создать' : 'Изменить' %>
  </div>
<% end %>