<p id="notice"><%= notice %></p>

<p>
  <strong>Тип вагона:</strong>
  <%= @wagon.wagon_type %>
</p>

<p>
  <strong>Поезд:</strong>
  <% if @wagon.train.present? %>
    <%= @wagon.train.number %>
  <% else%>
    Не указанно
  <% end %>
</p>


<%= link_to 'Изменить', edit_wagon_path(@wagon) %> |
<%= link_to 'Назад', wagons_path %>