<h1>Редактировать маршрут</h1>

<%= form_with(model: @route, local: true) do |form| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this railway_station from being saved:</h2>

      <ul>
        <% @route.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :railway_station_ids, "Текущая станция" %>
    <%= form.collection_select :railway_station_ids, RailwayStation.all, :id, :title, {}, { multiple: true} %>
  </div>

  <div class="actions">
    <%= form.submit  if @route.new_record? ? 'Создать' : 'Изменить' %>
  </div>
<% end %>

<%= link_to 'Показать', @route %>
<%= link_to 'Назад', routes_path %>
