<p id="notice"><%= notice %></p>

<p>
  <strong>Маршрут:</strong>
  <%= @route.name %>
</p>
<p>
  <strong>Станций в маршруте:</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
   Список пустой
    <% else %>
    <tble>
<!--      <thead>-->
<!--        <tr>-->
<!--          <td width="100px">Название</td>-->
<!--          <td>Позиция</td>-->
<!--        </tr>-->
<!--      </thead>-->
      <tbody>
        <tr>
          <% @route.railway_stations.ordered.each do |station| %>
            <td><%= station.title %></td>
            <td>
              <%= form_tag update_position_railway_station_path(station), method: :patch do %>
                <%= number_field_tag :position, station.position_in(@route)%>
                <%= hidden_field_tag :route_id, @route.id %>
                <%= datetime_field_tag :arrival_time, station.arrival_t(@route)%>
                <%= datetime_field_tag :dispatch_time, station.dispatch_t(@route) %>
                <%= submit_tag "Изменить" %>
              <% end %>
            </td>
          <% end %>
        </tr>
      </tbody>
    </tble>
<!--      <ul>-->
        <%#=form_with url: update_position_route_path(@route.id), method: :patch do |f| %>
        <%# @railway_stations_routes.each do |station_route| %>
<!--            <li>-->
<!--              <span><%#= station_route.railway_station.title %> позиция - <%#= station_route.position %></span>-->
<!--              <input type="number"-->
<!--                     name="railway_stations_routes[<%#= station_route.id %>][position]"-->
<!--                     value="<%#= station_route.position %>">-->
<!--            </li>-->
            <%# end %>
          <%#= f.submit 'Обновить' %>
        <%#end%>
<!--      </ul>-->
  <% end %>
</p>

<p>
  <strong>Поезда на данном маршруте:</strong>
</p>

<% if @route.trains.any? %>
  <ul>
    <% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %>
  </ul>
<% else %>
  <p>Список пустой</p>
<% end %>


<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
