<p id="notice"><%= notice %></p>

<p>
  <strong>Маршрут:</strong>
  <%= @route.name %>
</p>
<p>
  <strong>Станций в маршруте:</strong>
</p>

<p>
  <% if @route.railway_stations.empty? %>
   Список пустой
    <% else %>
      <ul>
        <% @route.railway_stations.each do |station| %>
          <li><%= station.title %></li>
          <% end %>
      </ul>
  <% end %>
</p>

<p>
  <strong>Поезда на данном маршруте:</strong>
</p>

<% if @route.trains.any? %>
  <ul>
    <% @route.trains.each do |train| %>
      <li><%= train.number %></li>
    <% end %>
  </ul>
<% else %>
  <p>Список пустой</p>
<% end %>


<%= link_to 'Редактировать', edit_route_path(@route) %> |
<%= link_to 'Назад', routes_path %>
