<%= form_with(model: [:admin, @wagon], scope: :wagon, url: (@wagon.persisted? ? admin_train_wagon_path(@train.id) : admin_train_wagons_path(@train.id)),
               local: true) do |form| %>
  <% if @wagon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wagon.errors.count, "error") %> prohibited this railway_station from being saved:</h2>

      <ul>
        <% @wagon.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label 'Тип вагона'%>
    <div class="field_type">
      <%= form.label :seats_carriage%>
      <%= form.radio_button "type", "SeatsCarriage" %>
    </div>
    <div class="field_type">
      <%= form.label :economy_carriage%>
      <%= form.radio_button "type", "EconomyCarriage" %>
    </div>
    <div class="field_type">
      <%= form.label :coupe_carriage%>
      <%= form.radio_button "type", "CoupeCarriage" %>
    </div>
    <div class="field_type">
      <%= form.label :sv_carriage%>
      <%= form.radio_button "type", "SvCarriage" %>
    </div>
    <%= form.label :seats%>
    <%= form.text_field :seats %>
    <%= form.label :bottom_seats%>
    <%= form.text_field :bottom_seats %>
    <%= form.label :top_seats%>
    <%= form.text_field :top_seats %>
    <%= form.label :side_bottom_seats%>
    <%= form.text_field :side_bottom_seats %>
    <%= form.label :side_top_seats%>
    <%= form.text_field :side_top_seats %>
  </div>


  <div class="actions">
    <%= form.submit  if @wagon.new_record? ? 'Создать' : 'Изменить' %>
  </div>
<% end %>