<p id="notice"><%= notice %></p>

<p>
  <strong>Тип вагона:</strong>
  <%= @wagon.type %>
</p>

<p>
  <strong>Поезд:</strong>
  <% if @wagon.train.present? %>
    <%= @wagon.train.number %>
  <% else%>
    Не указанно
  <% end %>
</p>

<p>
  <strong>Тип вагона:</strong>
  <% if @wagon.type.present? %>
    <%= @wagon.type %>
  <% else%>
    Не указанно
  <% end %>
</p>

<ul>
<% @wagon.attributes.slice('seats', 'top_seats', 'bottom_seats',
                           'side_bottom_seats', 'side_top_seats').each do |i| %>
    <% if i[1] == nil %>
      <li><%=  i[0]%> - <%=  'Не указанно' %></li>
    <% else %>
      <li><%=  i[0]%> - <%=  i[1]%></li>
    <% end %>
<% end %>
</ul>


<%= link_to 'Изменить', edit_admin_train_wagon_path(@train.id, @wagon) %> |
<%= link_to 'Назад', admin_train_wagons_path %>
